:root {
  --vp-c-brand-1: #6958af;
  --vp-c-brand-2: #7b6cb9;
  --vp-c-brand-3: #8d80c2;
  --vp-c-brand-soft: #6958af24;
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}

.dark {
  --vp-c-brand-1: #6958af;
  --vp-c-brand-2: #7b6cb9;
  --vp-c-brand-3: #8d80c2;
  --vp-c-brand-soft: #6958af2e;
  --vp-c-brand-hover: var(--vp-c-brand-2);
  --vp-c-brand-active: var(--vp-c-brand-1);
}
